<div class="container">
    <div class="container-login"><br>
      <h4></h4><br><br>
      <img src="../../../../../assets/img/logo.png" alt="">
        <form (ngSubmit)="this.goToPanel()" #loginForm="ngForm"> 
            <p>{{ "HOME.SELECT" | translate}}</p>
            <div class="form-group input input-language">
                <select id="language" name="career" [(ngModel)]="this.career.id" required>
                    <option value="{{career.id}}" *ngFor="let career of this.careers.data" [routerLink]="['/panel']">{{career.name}}</option>
                </select>
            </div>
            <div class="button-select"><button type="submit">Select</button></div>
        </form>
    </div>
    <div class="button-login" [routerLink]="['/login']"><button>Login</button></div>
    <div class="language">
        <img (click)="changeLanguage('en')" src="../../../../../assets/img/gran bretaña.jpg" alt="">
        <img (click)="changeLanguage('ne')" src="../../../../../assets/img/belgica.png" alt="">
    </div>
</div>