<div class="button-closse"><button  (click)="logoutUser()">Sluiten</button></div>

<div class="container">
    <div class="container-show-career">
        
        <div class="section-career modalAnimation" *ngIf="this.showCareer">
            <div class="container-career">
                <div class="title-career">
                    <h5>Careers</h5>
                    <i class="pi pi-plus-circle" (click)="this.selectCreateCareer()"></i>  
                </div>
                <br>
                <div class="career" *ngFor="let career of this.careers.data">
                    <button (click)="selectYears(career)" >{{career.name}}</button>
                    <div class="icons">
                        <i class="pi pi-file-edit" (click)="this.selectEditCareer(career)"></i> 
                        <i class="pi pi-eye" style="color: green;" [routerLink]="['/panel', career.id]"></i>
                        <i class="pi pi-trash" style="color: brown; margin-left: 20px;" (click)="this.selectDeleteCareer(career)"></i>
                    </div>
                </div>
            </div>
            <br>

            <div class="container-career modalAnimation" *ngIf="this.showEditCareer" style="margin-left: 4%;">
                <div class="exit"><i class="pi pi-times" (click)="this.showEditCareer = false"></i></div>
                <h5>Edit</h5>
                <br>
                <form (ngSubmit)="updateCareer()" #loginForm="ngForm"> 
                    <div class="form-group input">
                        <p>Name</p>
                        <input type="text" id="name" name="name" [(ngModel)]="this.career.name" required placeholder="Name">
                        <!-- <p *ngIf="this.showErrorLastName">{{this.lastNameError}}</p> -->
                    </div>
                    <br>
                    <div class="button"><button type="submit">Edit Career</button></div> 
                </form>
            </div>

            <div class="container-career modalAnimation" *ngIf="this.showCreateCareer" style="margin-left: 4%;">
                <div class="exit"><i class="pi pi-times" (click)="this.showCreateCareer = false"></i></div>
                <h5>Create Career</h5>
                <br>
                <form (ngSubmit)="createCareer()" #loginForm="ngForm"> 
                    <div class="form-group input">
                        <input type="text" id="name" name="name" [(ngModel)]="this.career.name" required placeholder="Name">
                        <!-- <p *ngIf="this.showErrorLastName">{{this.lastNameError}}</p> -->
                    </div>
                    <br>
                    <div class="button"><button type="submit">Create</button></div> 
                </form>
            </div>
        </div>


        <div class="section-career modalAnimation" *ngIf="this.showYear">
            <div class="container-career">
                <div class="menu-top">
                    <i class="pi pi-arrow-left" (click)="showCareers()"></i>
                </div>
                <br>
                <p>{{this.career.name}}</p>
                <div class="title-career">
                    
                    <h5>Years</h5>
                    <div style="display: flex;  flex-direction: row;">
                        <button style="margin-right: 5px;" (click)="this.showAllYears = true; this.getAllYears();">Clone Year</button>
                        <i class="pi pi-plus-circle" (click)="this.selectCreateYear()"></i>  
                    </div>
                </div>
                <br>
                <div class="career" *ngFor="let year of this.years.data ">
                    <button (click)="selectSubjects(year)">{{year.year}}</button>
                    <div class="icons">
                        <i class="pi pi-file-edit" (click)="this.selectUpdateYear(year)"></i> 
                        <i class="pi pi-trash" style="color: brown; margin-left: 20px;" (click)="this.selectDeleteYear(year)"></i>
                    </div>
                </div>
            </div>
            <br>

            <div class="container-career modalAnimation" *ngIf="this.showEditYear" style="margin-left: 4%;">
                <div class="exit"><i class="pi pi-times" (click)="this.showEditYear = false"></i></div>
                <h5>Edit Years</h5>
                <br>
                <form (ngSubmit)="updateYear()" #loginForm="ngForm"> 
                    <div class="form-group input">
                        <p>Year</p>
                        <input type="number" id="yearEdit" name="yearEdit" [(ngModel)]="this.year.year" required placeholder="New Year">
                        
                    </div>
                    <br>
                    <div class="button"><button type="submit">Edit Year</button></div> 
                </form>
            </div>

            <div class="container-career modalAnimation" *ngIf="this.showCreateYear" style="margin-left: 4%;">
                <div class="exit"><i class="pi pi-times" (click)="this.showCreateYear = false"></i></div>
                <h5>Create Year</h5>
                <br>
                <form (ngSubmit)="createYear()" #loginForm="ngForm"> 
                    <div class="form-group input">
                        <input type="number" id="year" name="year" [(ngModel)]="this.year.year" required placeholder="New Year">
                    </div>
                    <br>
                    <div class="button"><button type="submit">Create Year</button></div> 
                </form>
            </div>
        </div>


        <div class="section-career modalAnimation" *ngIf="this.showSubject">
            <div class="container-career">
                <div class="menu-top">
                    <i class="pi pi-arrow-left" (click)="this.showYears()"></i>
                </div>
                <br>
                <p>Year:{{this.year.year}}</p>
                <div class="title-career">
                    <h5>Subjects</h5>
                    <div>
                        <i class="pi pi-plus-circle" (click)="this.selectCreateSubject()"></i>  
                    </div> 
                </div>
                <br>
                
                <div class="career" *ngFor="let subject of this.subjects.data ">
                    <div style="display: flex; flex-direction: row;">
                        <i class="pi pi-angle-double-down" (click)="order('down', this.subjects, subject)"></i> 
                        <i class="pi pi-angle-double-up" style="margin-right: 20px;" (click)="order('up', this.subjects, subject)"></i>
                        <p>{{subject.name}}</p>
                    </div>
                    <div class="icons">
                        <i class="pi pi-file-edit" (click)="selectEditSubject(subject)"></i> 
                        <i class="pi pi-trash" style="color: brown; margin-left: 20px;" (click)="deleteSubject(subject.id)"></i>
                    </div>
                </div>
            </div>
            <br>

            <div class="container-career modalAnimation" *ngIf="this.showEditSubject" style="margin-left: 4%;">
                <div class="exit"><i class="pi pi-times" (click)="this.showEditSubject = false"></i></div>
                <h5>Edit Subject</h5>
                <br>
                <form (ngSubmit)="editSubject()" #loginForm="ngForm"> 
                    <div class="form-group input">
                        <input type="text" id="name" name="name" [(ngModel)]="this.subject.name" required placeholder="Name">
                    </div><br>
                    <div class="form-group input">
                        <input type="text" id="code" name="code" [(ngModel)]="this.subject.code" required placeholder="Code">
                    </div><br>
                    <div class="form-group input">
                        <p>Credits</p>
                        <input type="number" id="credit" name="credit" [(ngModel)]="this.subject.credit" required placeholder="Credit">
                    </div>
                    <div class="form-group input">
                        <p>Links</p>
                        <input type="text" id="link" name="link" [(ngModel)]="this.subject.link" required placeholder="Link">
                    </div>
                    <br>
                    <br>
                    <div class="form-group input">
                        <p>Period</p>
                        <br>
                        <p-slider [(ngModel)]="this.rangeValues" name="quart" [range]="true" styleClass="w-14rem" />
                        <div class="quarts">
                            <p>1</p><p>2</p><p>3</p><p style="border-right: none;">4</p>
                        </div>
                    </div>
                    <br><br>
                    <div style="border: solid 1px black; padding: 10px; background-color: white;">
                        <p>Seleccione las materias</p>
                        <br>
                        <div class="form-group input" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <div *ngFor="let subject of this.allSubjects.data" style="margin: 5px;">
                                <button (click)="selectSubject(subject.id)" style="padding: 10px; background-color: #464696;">{{subject.name}}</button>
                            </div>
                        </div>
                        <br>
                        <p>Seleccionados</p>
                        <br>
                        <div class="form-group input" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <div *ngFor="let subject of this.subjectsSelected" style="margin: 5px;">
                                <button (click)="discardSelectSubject(subject.id)" style="padding: 10px; background-color: #46966e;">{{subject.name}}</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div style="border: solid 1px black; padding: 10px; background-color: white;">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <p>Seleccione Grupo</p>
                            <div (click)="this.showNewGroup = true" style="display: flex; flex-direction: row; align-items: center;">
                                <i class="pi pi-plus-circle" style="font-size: 30px; color: #464696;"></i><p style="color: #464696;">New Group</p>
                            </div>
                        </div>  
                        <br>
                        <div class="form-group input" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <div *ngFor="let group of this.selectsGroups" style="margin: 5px;" >
                                <div class="" style="display: flex; flex-direction: row; justify-content: space-between; border: solid 1px #c1c1c1;; background-color: #F3F4F9; padding: 5px; align-items: center;">
                                    <div (click)="selectsGroupsSubject(subject, group)" style="background-color: #464696;  border-radius: 10px; max-width: 30vw; "><p style="color: white; padding: 10px;">{{group.name}}</p></div>
                                    <i (click)="this.groupDeleteId = group.id; this.showDeleteGroup = true" class="pi pi-trash" style="color: brown; margin-left: 5px; margin-right: 10px; font-size: 20px;"></i>
                                </div>
                            </div>
                        </div>
                        <br>
                        <p>Grupo seleccionado</p>
                        <br>
                        <div class="form-group input" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <div *ngFor="let group of this.selectsNoGroups" style="margin: 5px;">
                                <button (click)="selectsGroupsSubject(subject, group)" style="padding: 10px; background-color: #46966e;">{{group.name}}</button>
                            </div>
                        </div>
                    </div><br>
                    <div class="button"><button type="submit">Edit Subject</button></div> 
                </form>
            </div>

            <div class="container-career modalAnimation" *ngIf="this.showCreateSubject" style="margin-left: 4%;">
                <div class="exit"><i class="pi pi-times" (click)="this.showCreateSubject = false"></i></div>
                <h5>Create Subject</h5>
                <br>
                <form (ngSubmit)="createSubject()" #loginForm="ngForm"> 
                    <div class="form-group input">
                        <input type="text" id="name" name="name" [(ngModel)]="this.subject.name" required placeholder="Name">
                    </div><br>
                    <div class="form-group input">
                        <input type="text" id="code" name="code" [(ngModel)]="this.subject.code" required placeholder="Code">
                    </div><br>
                    <div class="form-group input">
                        <p>Credits</p>
                        <input type="number" id="credit" name="credit" [(ngModel)]="this.subject.credit" required placeholder="Credit">
                    </div>
                    <div class="form-group input">
                        <p>Link</p>
                        <input type="string" id="link" name="link" [(ngModel)]="this.subject.link" required placeholder="Link">
                    </div>
                    <br>
                    <br>
                    <div class="form-group input">
                        <p>Period</p>
                        <br>
                        <p-slider [(ngModel)]="this.rangeValues" name="quart" [range]="true" styleClass="w-14rem" />
                        <div class="quarts">
                            <p>1</p><p>2</p><p>3</p><p style="border-right: none;">4</p>
                        </div>
                    </div>
                    <br><br>
                    <div style="border: solid 1px black; padding: 10px; background-color: white;">
                        <p>Seleccione las materias</p>
                        <br>
                        <div class="form-group input" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <div *ngFor="let subject of this.allSubjects.data" style="margin: 5px;">
                                <button (click)="selectSubject(subject.id)" style="padding: 10px; background-color: #464696;">{{subject.name}}</button>
                            </div>
                        </div>
                        <br>
                        <p>Seleccionados</p>
                        <br>
                        <div class="form-group input" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <div *ngFor="let subject of this.subjectsSelected" style="margin: 5px;">
                                <button (click)="discardSelectSubject(subject.id)" style="padding: 10px; background-color: #46966e;">{{subject.name}}</button>
                            </div>
                        </div>
                    </div>
                    <br><br>

                    <div style="border: solid 1px black; padding: 10px; background-color: white;">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <p>Seleccione Grupo</p>
                            <div (click)="this.showNewGroup = true" style="display: flex; flex-direction: row; align-items: center;">
                                <i class="pi pi-plus-circle" style="font-size: 30px; color: #464696;"></i><p style="color: #464696;">New Group</p>
                            </div>
                        </div>  
                        <br>
                        <div class="form-group input" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <div *ngFor="let group of this.groups" style="margin: 5px;" >
                                <div class="" style="display: flex; flex-direction: row; justify-content: space-between; border: solid 1px #c1c1c1;; background-color: #F3F4F9; padding: 5px; align-items: center;">
                                    <div (click)="selectGroup(group.id, group.name)" style="background-color: #464696;  border-radius: 10px; max-width: 30vw; "><p style="color: white; padding: 10px;">{{group.name}}</p></div>
                                    <i (click)="this.groupDeleteId = group.id; this.showDeleteGroup = true" class="pi pi-trash" style="color: brown; margin-left: 5px; margin-right: 10px; font-size: 20px;"></i>
                                </div>
                            </div>
                        </div>
                        <br>
                        <p>Grupo seleccionado</p>
                        <br>
                        <div class="form-group input" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <div *ngFor="let group of this.groupSelect" style="margin: 5px;">
                                <button (click)="deselectGroup(group.id)" style="padding: 10px; background-color: #46966e;">{{group.name}}</button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="button"><button type="submit">Create Subject</button></div> 
                </form>
            </div>
        </div>
    </div>


    <div class="container-mesaage" *ngIf="this.showDeleteCareer" (click)="this.showDeleteCareer = false">
        <div class="message modalAnimation">
            <div class="exit" (click)="this.showDeleteCareer = false"><i class="pi pi-times"></i></div>
            <br>
            <p>Are you sure you want to delete?</p>
            <br>
            <div class="button"><button (click)="deleteCareer()">Delete</button></div>
        </div>
    </div>
    <div class="container-mesaage" *ngIf="this.showDeleteYear" (click)="this.showDeleteYear = false">
        <div class="message modalAnimation">
            <div class="exit" (click)="this.showDeleteYear = false"><i class="pi pi-times"></i></div>
            <br>
            <p>Are you sure you want to delete?</p>
            <br>
            <div class="button"><button (click)="deleteYear()">Delete</button></div>
        </div>
    </div>

    <div class="container-mesaage" *ngIf="this.showNewGroup">
        <div class="message modalAnimation">
            <div class="exit" (click)="this.showNewGroup = false"><i class="pi pi-times"></i></div>
            <br>
            <h5>New Group</h5>
            <br>
            <form (ngSubmit)="this.createGroup()" #loginForm="ngForm"> 
                <div class="form-group input">
                    <p>Name</p>
                    <input type="text" id="name" name="nameEdit" [(ngModel)]="this.nameGroup" required placeholder="Name">
                </div>
                <br>
                <div class="button"><button type="submit" style="background-color: #46966e;">Create Group</button></div> 
            </form>
        </div>
    </div>
    <div class="container-mesaage" *ngIf="this.showDeleteGroup" (click)="this.showDeleteGroup = false">
        <div class="message modalAnimation">
            <div class="exit" (click)="this.showDeleteGroup = false"><i class="pi pi-times"></i></div>
            <br>
            <p>Are you sure you want to delete?</p>
            <br>
            <div class="button"><button (click)="deleteGroup()">Delete Group</button></div>
        </div>
    </div>

    <div class="container-mesaage" *ngIf="this.showAllYears" >
        <div class="message modalAnimation" style="width: 60%; height: 60%;">
            <div class="exit" (click)="this.showAllYears = false"><i class="pi pi-times"></i></div>
            <br>
            <h5>Select Year for clone</h5>
            <br>
            <div style="width: 100%; max-height:80%; background-color: white; display: flex; flex-wrap: wrap; overflow-y: auto; align-items: start;">
                <div *ngFor="let year of allYears" >
                    <button style="margin: 5px;" (click)="this.cloneYear(year)">{{year.career}}, Year: {{year.year}}</button>
                </div>
            </div>
        </div>
    </div>
</div>