.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #F9FAFB;
    padding-top: 10vh;
}

.container-menu{
    width: 32%;
    border-radius: 20px;
    padding: 3% 3% 3% 3%;
    box-shadow: 0px 0px 20px 5px #0000002d;
    background-color: #F9FAFB;
    button{
        width: 100%;
        margin-bottom: 1.5%;
    }
    .button-closse{
        background-color: #b41f1f;
        margin-bottom: 0%;
    }
}

.container-show-career{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.section-career{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
}

.container-career{
    width: 48%;
    border-radius: 20px;
    padding: 3%;
    box-shadow: 0px 0px 20px 5px #0000002d;
    background-color: #f2f4f9;
    .menu-top{
        width: 100%;
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    .title-career{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        i{
            font-size: 32px;
            color: #4444e2;
        }
    }
    .career{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
        box-shadow: 0px 0px 20px 5px #0000002d;
        background-color: #F9FAFB;
        padding: 5px;
        border-radius: 3px;
    }
    .icons{
        i{
            margin-left: 5px;
            font-size: 32px;
            color: #4444e2;
        }
    }
}



.container-card-add{
    width: 100vw;
    min-height: 100%;
    background-color: #00000055;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-add{
    width: 32.5%;
    border-radius: 20px;
    padding: 3% 3% 3% 3%;
    box-shadow: 0px 0px 20px 5px #0000002d;
    background-color: #F9FAFB;
    
}

.exit{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}


.container-add-career{
    width: 100%;
    height: 100%;
    .button{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}

.button-closse{
    position: absolute;
    top: 1%;
    right: 0%;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 2%;
    button{
        padding: 1.5vh 1.5vw;
        background-color: #b41f1f;
    }
}

.container-mesaage{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0%;
    background-color: #0000003f;
    .message{
        background-color: #f2f4f9;
        width: 30%;
        padding: 2%;
        border-radius: 20px;
        .button{
            width: 100%;
            display: flex;
            justify-content: end;
            button{
                background-color: #b41f1f;
            }
        }
    }
}
