@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body{
    margin: 0px;
    padding: 0px;
}

button{
    padding: 2% 4%;
    font-size: 12px;
    color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
p{
    font-size: 16px;
}
h6{
    font-size: 16px;
}
h5{
    font-size: 20px;
}
h4{
    font-size: 24px;
}
h3{
    font-size: 28px;
}
h2{
    font-size: 32px;
}
h1{
    font-size: 36px;
}
input{
    font-size: 16px;
    padding: 3%;
}
button{
    font-size: 16px;
    background-color: #539453;
    border: none;
}

select{
    font-size: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    color: #858585;
    padding: 0% 3%;
}

select:focus {
    border: 2.5px solid #c6c6c6; /* Cambia el color y el grosor del borde cuando el input está seleccionado */
    outline: none; /* Elimina el contorno predeterminado en algunos navegadores */
  }

input{
    width: 100%;
    height: 40px;
    border: 1px solid #c6c6c6;
    border-radius: 10px;
    
}
input:focus {
    border: 2.5px solid #c6c6c6; /* Cambia el color y el grosor del borde cuando el input está seleccionado */
    outline: none; /* Elimina el contorno predeterminado en algunos navegadores */
  }
::placeholder {
    color: #afafaf; /* Puedes cambiar "red" por el color que desees */
}
